<h1>商品編集</h1>
<%= form_with model: @item, url: admin_item_path(@item.id) do |f| %>
<p>商品画像:<%= f.file_field :image, accept: "image/*" %></p>
<p>商品名:<%= f.text_field :name, placeholder: "商品名" %></p>
<p>商品説明:<%= f.text_area :introduction, placeholder: "ここに説明文を記述します" %></p>
<p></p>
<% end %>